@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="/css/index.css" rel="stylesheet">
</head>
<div class="sellingpoints">
    <br>
    <br>
    <h2>Segurança e transparência são a nossa prioridade</h2>
    <br>
    <ul>
        <li>
            <img src="/css/family.png">
            <h5> Praticidade para a família</h5>
        </li>
        <br>
        <li>
            <img src="/css/security.png ">
            <h5> Segurança em primeiro lugar</h5>
        </li>
        <br>
        <li>
            <img src="/css/review.png">
            <h5> Referências e avaliações das babás</h5>
        </li>
    </ul>
</div>
<br>
<br>
<div>
    <br>
    <h2 class="titulo">Como funciona: </h2>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-3 col-md-12">
                    <div class="icon">
                        <i class="inner-icon far fa-search"></i>
                    </div>
                </div>
                <div class="col-9 col-md-12">
                    <div class="title"> <strong> 1. Pesquise </strong></div>
                    <br>
                    <p class="description"> Leia os detalhes do perfil e as avaliações feitas por quem já contratou esse profissional. Busque por trabalhos ocasionais, meio período ou período integral.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-3 col-md-12">
                    <div class="icon">
                        <i class="inner-icon far fa-comments"></i>
                    </div>
                </div>
                <div class="col-9 col-md-12">
                    <div class="title"> <strong> 2. Envie uma mensagem</strong> </div>
                    <br>
                    <p class="description"> Entre em contato com as babás que você gostou para agendar uma entrevista.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-3 col-md-12">
                    <div class="icon">
                        <i class="inner-icon far fa-calendar-check"></i>
                    </div>
                </div>
                <div class="col-9 col-md-12">
                    <div class="title"> <strong> 3. Contrate  </strong></div>
                    <br>
                    <p class="description">Você pode contratar a babá por hora ou mensalmente, os créditos ficarão na sua conta e poderão ser utilizados a qualquer momento.</p>
                </div>
            </div>
        </div>
    </div>
</div>
