@model IEnumerable<app_web_backend.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link href="/css/styleMuralBabas.css" rel="stylesheet">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
</head>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>Mural de Babás</h3>
            @foreach (var item in Model)
            {
        <br /> <br />
             <a a asp-action="Details" asp-route-id="@item.Id" style="color: black; text-decoration: none;">
                <div class="container">
                    <div class="row">
                        <div class="col-4 order-first">
                            <img src="/css/user.png" class="img-fluid img-thumbnail" alt="logo" style="border-radius:50%; min-width:">
                        </div>
                        <div class="col-8 order-last">
                            <h3>@Html.DisplayFor(modelItem => item.Nome)</h3>
                            <h3 style="max-width:100%; ">
                                @Html.DisplayFor(modelItem => item.Descricao)
                            </h3>
                        </div>
                    </div>

                </div>
             </a>
            }
        </div>
        <div class="col-6 order-last" id='map' style='border-radius: 3%; min-height: 100vh; min-width: 50vh;'></div>
    </div>
</div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiZ2FicmllbGdtY2hhdmVzIiwiYSI6ImNrdXkyOGw5YzJibXkyb29kNDJ4ZjM4cGUifQ.Mc6JtYS3ZSgxk9cLtiAGlw';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11'
    });
</script>