<main class="login">
    <div class="login__container container">
        <p>Efetue seu Login</p>
        <form class="col login__form col-md-12 row align-items-center">
            <input class="login__input" type="email" placeholder="E-mail" />
            <span class="login__input-border"></span>
            <input class="login__input" type="password" placeholder="Senha" />
            <span class="login__input-border"></span>
            <button class="login__submit">Login</button>
        </form>
        <a class="nav-link" href="Cadastro.html"> Quero me cadastrar</a>
    </div>
</main>